<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class=cabecalho>
    <div class=titulo>
      <a class=linktitulo href="/">Node News</a>
    </div>
  </div>

</br>

  <div class=imagem>
    <img class="img" src="images/img.png"></div>
  </div>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Escolha o Node News como o seu site principal de notícias, saiba o porque logo abaixo:</h2>
    </div>
  </div>

  <div class=meio>
    <div class=meio2>
      <p>Aqui temos notícias globais e diárias, que trazem para você um melhor nível de acompanhamento das novidades mundiais, acoplando em um único site, todos os tipos de notícias, desde o mundo dos esportes, política, meio ambiente, até o mundo da moda, redes sociais e saúde.</p>
    </div>
  </div>

  <div class=ir>
    <div class=ir2>
      <a class=linklista href="/noticias"><h3>Ir pra a listagem das notícias.</h3></a>
    </div>
  </div>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
