<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    
  </head>
  <body>
<div class=cabecalho>
    <div class=titulo>
      <a class=linktitulo href="/">Node News</a>
    </div>
  </div>
  
</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Ultima notícia sobre esporte:</h2>
    </div>
  </div>

  <div class=meio>
    <div class=meio2>
      <h4><a class=link href="noticias/news1">Santos pode ter até nove "reforços" para enfrentar o Ceará.</a></h4>
      <h5>O Santos pode ter até nove "reforços" para enfrentar o Ceará no próximo sábado, às 21h, no Castelão, pela 21ª rodada do Campeonato Bras...</h5>
    </div>
  </div>

</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Ultima notícia sobre saúde:</h2>
    </div>
  </div>

  <div class=meio>
    <div class=meio2>
      <h4><a class=link href="noticias/news2">Chile começa a vacinar crianças entre 6 e 12 anos contra a Covid-19 com CoronaVac.</a></h4>
      <h5>País já aplica imunizante da Pfizer/BioNTech em crianças acima de 12 anos desde maio. No Brasil, o uso para essa faixa etária foi rejeitado pela Anvisa.</h5>
    </div>
  </div>

</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Ultima notícia sobre moda:</h2>
    </div>
  </div>

  <div class=meio>
    <div class=meio2>
      <h4><a class=link href="noticias/news3">Ícone da moda, Karl Lagerfeld terá sua trajetória narrada em série.</a></h4>
      <h5>'Kaiser Karl' vai acompanhar a vida do estilista alemão que dirigiu a grife Chanel por trinta e seis anos.</h5>
    </div>
  </div>

</br>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>