<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
<div class=cabecalho>
    <div class=titulo>
     <a class=linktitulo href="/">Node News</a>
    </div>
  </div>
  
</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Ícone da moda, Karl Lagerfeld terá sua trajetória narrada em série.</h2>
      <h4>Por Marcelo Canquerino
</br>
      Publicado em 31 ago 2021, 16h59</h4>
    </div>
  </div>

  <div class=meio>
    <div class=resumo>
      <h5>'Kaiser Karl' vai acompanhar a vida do estilista alemão que dirigiu a grife Chanel por trinta e seis anos</h5>
    </div>
  </div>

  <div class=imagem>
    <img class="img4" src="/images/img4.jpg"></div>
  </div>

  <div class=meio>
    <div class=meio2>
      <p>O incontornável estilista alemão Karl Lagerfeld, que comandou a grife francesa Chanel por 36 anos, entre 1983 e 2019, quando faleceu aos 85 anos, ganhará uma série biográfica feita pelo Disney+. A produção, ambientada na França, vai acompanhar toda sua trajetória — do início da carreira na década de 1970 até a ascensão meteórica na moda francesa e, posteriormente, na moda global. O anúncio foi feito pelo presidente da Disney na Europa, Jan Koeppen, durante o festival Séries Mania TV. A trama batizada de Kaiser Karl é parte de um esforço da plataforma de streaming em aumentar o número de produções originais europeias.</p>
      <p>Dono do marcante visual preto e branco, com cabelo grisalho alinhado e óculos escuros, Lagerfeld foi um ícone fashionista e também comandou outras grandes grifes além da Chanel, como a italiana Fendi, a francesa Chloé e a marca que carrega seu nome.</p>
      <p>De acordo com Koeppen, a Disney entregará, até o final de 2024, 60 séries originais europeias. O objetivo é mostrar a diversidade presente no continente. Além da série sobre Lagerfeld, a empresa anunciou outras produções, como Sam: A Saxon, que conta a história real do primeiro policial negro na Alemanha Oriental; The Good Mothers, série sobre a máfia italiana; e o drama de fantasia francês Parallels.</p>
    </div>
  </div>

</br>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>