<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
<div class=cabecalho>
    <div class=titulo>
      <a class=linktitulo href="/">Node News</a>
    </div>
  </div>
  
</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Santos pode ter até nove "reforços" para enfrentar o Ceará.</h2>
      <h4>redacao@gazetaesportiva.com (Redação)   
</br>
      15/09/2021 07h00</h4>
    </div>
  </div>

  <div class=imagem>
    <img class="img2" src="/images/img2.jpg"></div>
  </div>

  <div class=meio>
    <div class=meio2>
      <p>O Santos pode ter até nove "reforços" para enfrentar o Ceará no próximo sábado, às 21h, no Castelão, pela 21ª rodada do Campeonato Brasileiro. 
Depois de ter 14 desfalques na eliminação da Copa do Brasil para o Athletico, o Peixe terá vários retornos para reagir no Brasileirão.</p>
<p>O goleiro Jandrei, os zagueiros Emiliano Velázquez e Danilo Boza, o lateral-esquerdo Moraes, o meio-campista Camacho e o atacante Léo Baptistão, todos não inscritos na Copa do Brasil, estarão à disposição no Brasileiro.</p>
<p>Os zagueiros Luiz Felipe (edema na coxa) e Robson (entorse no tornozelo) e o lateral-direito Madson (desconforto articular) treinam para ser opções do técnico Fábio Carille.</p>
<p>O goleiro John, o zagueiro Kaiky e os meio-campistas Kevin Malthus, Sandry e Jobson seguirão fora de combate. Lucas Braga, suspenso, é desfalque certo.</p>
<p>Uma possível escalação é: João Paulo, Pará, Emiliano Velázquez, Wagner Palha e Felipe Jonatan; Camacho, Carlos Sánchez e Gabriel Pirani; Marinho, Marcos Guilherme e Léo Baptistão.</p>
    </div>
  </div>

</br>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>