<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
<div class=cabecalho>
    <div class=titulo>
      <a class=linktitulo href="/">Node News</a>
    </div>
  </div>
  
</br>

  <div class=titulomeio>
    <div class=meio1>
      <h2>Chile começa a vacinar crianças entre 6 e 12 anos contra a Covid-19 com CoronaVac.</h2>
      <h4>Por G1 
</br>
      14/09/2021 11h06</h4>
    </div>
  </div>

  <div class=meio>
    <div class=resumo>
      <h5>País já aplica imunizante da Pfizer/BioNTech em crianças acima de 12 anos desde maio. No Brasil, o uso para essa faixa etária foi rejeitado pela Anvisa.</h5>
    </div>
  </div>

  <div class=imagem>
    <img class="imagem3" src="/images/img3.jpg"></div>
  </div>

  <div class=meio>
    <div class=meio2>
      <p>O Chile se tornou na segunda-feira (13) o primeiro país da América do Sul a iniciar a vacinação contra a Covid-19 em crianças entre 6 e 12 anos. O imunizante utilizado é a CoronaVac, produzida pela chinesa Sinovac.</p>
<p>Os primeiros a receberam a vacina no país são as crianças com comorbidades. As demais crianças começarão a ser imunizadas a partir de 26 de setembro.</p>
<p>"As crianças também podem adoecer (de Covid). 12% dos casos que tivemos no país até metade do ano foram em menores de 18 anos", disse a subsecretária de Saúde Pública do Chile, Paula Daza.</p>
<p>A agência reguladora de medicamentos do Chile aprovou no dia 6 o uso da CoronaVac em crianças com 6 anos ou mais.</p>
<p>Cinco dos especialistas do conselho de avaliação convocado pelo Instituto de Saúde Pública (ISP) votaram a favor da administração da vacina em crianças de mais de 6 anos, dois votaram a favor de seu uso somente para aquelas de mais de 12 anos e um votou contra seu uso em crianças.</p>
<p>A CoronaVac também tem uma aprovação para uso de emergência em crianças na Indonésia e na China. No Brasil, o uso foi rejeitado pela Anvisa.</p>
<p>O Chile já aprovou o uso da vacina da Pfizer/BioNTech para crianças acima de 12 anos, e mais de 660 mil pessoas nessa faixa etária já receberam ao menos uma dose desde maio no país.</p>
<p>O Chile testemunhou uma queda considerável de infecções nas últimas semanas, e registrou somente 435 casos novos nesta segunda-feira. O país acumula um total de 1,6 milhão de casos confirmados e mais de 37 mil mortes de Covid-19.</p>
    </div>
  </div>

</br>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>